name: Indexer

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"
      - run: yarn install
      - run: yarn db:indexer
        env:
          INFURA_API_KEY: ${{ secrets.INFURA_API_KEY }}
          INFURA_INDEXER_API_KEY: ${{ secrets.INFURA_INDEXER_API_KEY }}
          ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "[action] gas indexer"
